.form-inner {
        width: 30.1%;

}
@media (max-width: 1500px)
.form-inner {
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-left: 4vw;
    padding-right: 4vw;
}
.form-inner {
    background: #50393c;
    padding-top: 16.36vh;
    padding-left: 4vw;
    padding-right: 4vw;
}