.header {
    background-position: left;
     background-repeat: no-repeat;
     background-size: contain;
     width: 200px;
     height: 70px;
     cursor: pointer;
     padding :20px;
 }

 .row-space {
     display : flex;
     justify-content : space-between;
 }

 a{
     text-decoration : underline;
 }
.register {
    padding : 20px;
    color : #000;
}